.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    background-color: #04838F;
    color: white;
    padding: 8px 18px;
    border-radius: 15px;
  }
}
