<h1 class="title">Medals per Country</h1>
<div class="numbers">
    <div class="number-jos">
        <p>Number of JOs</p>
        <span>10</span>
    </div>
    <div class="number-countries">
        <p>Number of countries</p>
        <span>{{ (olympics$ | async)?.length}}</span>
    </div>
</div>
<div class="chartSection">
    <canvas baseChart
        [type]="pieChartType"
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
    </canvas>

</div>